/*导航栏*/
.ant-layout-header {
    padding: 0;
}
.ant-menu-dark {
    background: black;
}
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item {
    background-color: black;
    color: white;
}

.ant-menu-dark.ant-menu-horizontal >.ant-menu-item:hover {
    background-color: dodgerblue;
}
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-active,
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-open,
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected {
    color: white;
}

/*文化展示*/
.ant-card-head-title {
    color: white;
}

/*出版流程*/
