/*导航栏*/
.ant-layout-header {
    padding: 0;
}
.ant-menu-dark {
    background: #161617CC;
}

.ant-menu-dark.ant-menu-horizontal {
    background-color: transparent;
}

.ant-menu-dark.ant-menu-horizontal >.ant-menu-item {
    background-color: transparent;
    color: white;
}

.ant-menu-dark.ant-menu-horizontal >.ant-menu-item:hover {
    background-color: #007BFFCC;
}
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-active,
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-open,
.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected {
    color: white;
}

/*文化展示*/
.ant-card-head-title {
    color: white;
}

.ant-card-meta-title{
    font-size: 2rem !important;
}
/*出版流程*/
