/*导航栏*/
.ant-layout-header {
    padding: 0;
}

.ant-menu-dark {
    background: #161617CC;
}

.ant-menu-dark.ant-menu-horizontal {
    background-color: transparent;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
    background-color: transparent;
    color: white;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background-color: #007BFFCC;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
    color: white;
}


/*服务项目*/
.ant-card-animation:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    box-shadow:
            0 0 1px 0 #ffffffcc, /* 内圈光晕 */
            0 0 4px 0 #ffffffcc, /* 外圈光晕 */
            0 0 8px 0 #ffffffcc, /* 最外圈光晕 */
            0 0 12px 0 #ffffffcc; /* 最外层光晕 */
}

/*文化展示*/
.ant-card-head-title {
    color: white;
}


/*出版流程*/
.ant-card-meta-title {
    font-size: 1.2vw !important;
}
