:root {
  display: flex;
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  display: flex;
  flex: 1; /* 让 body 元素填充 :root 元素的剩余空间 */
  place-items: center;
  background-color: #BBBBBB;
  padding: 0;
}
